* {
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-family: arial;
}
body {
	background-color: white;
}
div.cabecera {
	background-color: white;
	background-repeat: none;
	background-size: 2000px;
	width: auto;
	height: 100px;
	padding: 10px;
	border-bottom: 2.5px solid;
	min-width: 1200px;
}
ul {
	white-space: nowrap;
	padding-top: 95px;
	padding-left: 50px;
}
ul li {
	list-style-type: none;
	padding-left: auto;
	display: inline;
}
a.indice {
	font-weight: bold;
	color: black;
	background-color: white;
	padding: 10px 50px;
	margin-bottom: 5px;
	margin-right: 10px;
	border: 2.5px solid;
	font-size: 20px;
	text-decoration: none;
}
.aja {
	max-width: 1110px;
	white-space: nowrap
}
.contenido {
	float: left;
	min-height: 700px;
	width: 750px;
	background-color: white;
	border: 3px solid black;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 20px;
	word-wrap: break-word;
	white-space: normal;
}
.menuright {
	height: 530px;
	width: 340px;
	word-wrap: break-word;
	margin-top: 50px;
	word-wrap: break-word;
	display: inline-block;
	white-space: normal;
}
	div.cabec{
	height: 300px;
	background-color: white;
	border: 3px solid black;


	}
	div.enlaces{margin-top: 20px;
	background-color: white;
	border: 3px solid black;
	}
	.vacio{font-weight: bold;
		height:10px;
		border-bottom: 2px black dashed;
		text-transform: uppercase;
		padding-top: 5px;
		padding-bottom: 12px;
	}
	img.turbobanner {
	width: 340px;
	height: 50px;
	}
.bajo {
	min-width: 1200px;
	position: relative;
	background-color: white;
	width: auto;
	height: 50px;
	padding: 10px;
	margin-top: -50px;
	clear: both;
}
.junta {
	height: 30px;
	width: 40px;
	margin-top: 10px;
	margin-right: 10px;
}
.logo {
	height: 30px;
	width: 40px;
	margin-top: 10px;
	margin-right: 10px;
}
ul.pag {
	background-color: white;
	border-bottom: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: auto;
}
li.pag2 {
	background: #F4F4F4;
	border-bottom: 1px solid #7C7C7C;
	border-top: 1px solid #FFF;
}
a.pag3 {
	display: block;
	padding: 0;
	text-decoration: none;
	height: auto;
	border: 1px solid;
}
