* {
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	}
body {background-image: url(img/img1.jpg);
	background-size: 100%;
	background-attachment: fixed;
	}
/*Cabecera*/
.cabecera {
	min-width: 1200px;
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: #fff;
	}
.cab {
	margin-left: 600px;
	position: fixed;
	}
.titleimg {
	width: 240px;
	height: 50%;
	margin-top: 14px;
	margin-left: 10px;
	}
.logo1{
	width: 25px;
	height: 25px;
	margin-left: 20px;
	}
/*Menu superior*/
.menu {
	min-width: 1200px;
	position: fixed;
	white-space: nowrap;
	font-family: Helvetica;
	top: 80px;
	width: 100%;
	height: 50px;
	background-color: #303030;
	border-bottom: 2.5px solid;
	}
.mn {
	background-color: grey;
	text-decoration: none;
	font-size: 25px;
	display: inline-block;
	color: white;
	padding: 5px 10px;
	margin-right: 5px;
	border: 1px solid black; 
	}
a.mn:hover{
	background-color: #000000;
	}
/*menu desplegable*/
header{
	float: right;
	width: 280px;
	margin: 0 auto;
	background-color: grey;
	}
ul{
  list-style: none;
	}
.menu li>a{
	  background-color: grey;
	  color: white;
	  padding: 5px;
	  display: block;
	  text-decoration: none;
	  min-width: 100px;
	  border: 1px solid black;
	  height: 25px;
	}
.menu li>a:hover{
	color: #000;
	background-color: #eaeaea;
	}
.menu>li{
	  float: left;
	  text-align:center
	}
.menu>li>ul{
  display: none;
	}
.menu>li:hover>ul {
	margin-top: 5px;
  	display:block;
	}
/*Menu de la izquierda*/
.menuizq {
	position: fixed;
	top: 230px;
	float:left;
	min-width: 100px;
	width:150px;
	height:300px;
	background-color: black;
	color: white;
	margin-top: 15px;
	border: 3px solid black;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
	}
h2.indice {
	padding-left: 10px;
	}
.izq {
	padding:2px 1px 1px 10px;
	margin:0px 2px;
	background-color:none;
	text-decoration: none;
	font-size: 22px;
	display: block;
	color:white;
	margin-top: 3px;
	text-align: left;
	}

a.izq:hover{
	background-color: white;
	color:red;
	border: none;
	}
a.izq:active{
	background-color: #B00000;
	color:black;
	}
/*Contenido principal*/
.contenido {
	white-space: normal;
	word-wrap: break-word;
	margin-top: 150px;
	margin-right: 410px;
	float: right;
	min-width: 650px;
	width:650px;
	/*background: rgba(255, 255, 255, 0.95)*/
	padding:90px;padding-top: 25px;
	background-color: white;
	border-radius: 25px;
	border: 3px solid black;
	}
.imgtexto{
	margin-bottom: 14px;
	margin-top: 14px;
	}
.imgdivright{
	float: right;
	clear: none;
	margin-right: 0;
	margin-left: 20px;
	}
.imgtexto2{
	text-align: right;
	width: 400px;
	height: 250px;
	}
.subtext{font-size: 14px;
	text-align: right;
	background-color: black;
	color: white;
	margin: 0;
	padding: 10px;
	line-height: 1.1;
	display: block;
	}
/*Texto*/
p::first-letter{
	font-size: 110%;
	text-transform: capitalize;
	}
hr {
	border: 2px inset #eee;
	height: 1px;
	width: 80%;
	}

