* {
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-family: Lato;
}
body {
	background-image: url(img/bg.svg);background-attachment: fixed;background-size: 110%;
}
/*Menu lista de arriba*/
div.cabecera {
	background-image: url(img/cabesa.jpg);
	background-repeat: none;
	background-size: 2000px;
	width: auto;
	height: 100px;
	padding: 10px;
	border-bottom: 2.5px solid;
	min-width: 1200px;
}
ul {
	white-space: nowrap;
	padding-top: 95px;
	padding-left: 50px;
}
ul li {
	list-style-type: none;
	padding-left: auto;
	display: inline;
}
a.indice:hover {
	zoom: 105%;
	color: black;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
	border: 2.5px solid;
}
a.indice {
	font-weight: bold;
	color: black;
	background-color: white;
	padding: 10px 50px;
	margin-bottom: 5px;
	margin-right: 10px;
	border: 2.5px solid;
	font-size: 20px;
	text-decoration: none;
}
/*¨zona central de la página*/
.aja {
	max-width: 1110px;
	white-space: nowrap
}
/*Div de contenido*/
.contenido {
	float: left;
	min-height: 700px;
	width: 750px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 3px solid black;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 20px;
	word-wrap: break-word;
	white-space: normal;
	padding-bottom: 14px;
	padding-left: 15px;
	padding-right: 15px;
}
/*Menus de la derecha*/
.menuright {
	height: 580px;
	width: 340px;
	word-wrap: break-word;
	margin-top: 50px;
	word-wrap: break-word;
	display: inline-block;
	white-space: normal;
}
	div.cabec{
	height: 300px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 3px solid black;


	}
	div.enlaces{margin-top: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	border: 3px solid black;
	}
	.vacio{font-weight: bold;
		height:10px;
		border-bottom: 2px black dashed;
		text-transform: uppercase;
		padding-top: 5px;
		padding-bottom: 12px;
	}
/*Págines de interes-- Imagenes*/
	img.turbobanner {
	width: 340px;
	height: 100px;
	}
/*Páginas de interes-- Lista*/
	ul.pag {
	background-color: white;
	border-bottom: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: auto;
	}
	li.pag2 {
		background: #F4F4F4;
		border-bottom: 1px solid #7C7C7C;
		border-top: 1px solid #FFF;
	}
	a.pag3 {
		display: block;
		padding: 0;
		text-decoration: none;
		height: auto;
		border: 1px solid black;
	}
	a.pag3:hover{border:2px solid white;}

/*Pie de Página*/

.bajo {
	min-width: 1200px;
	background-color: #181c25;
	width: auto;
	height: 50px;
	padding: 10px;
	clear: both;
}
/*Imágenes de pie de página*/
.junta {
	height: 30px;
	width: 40px;
	margin-top: 10px;
	margin-right: 10px;
}
.logo {
	height: 30px;
	width: 40px;
	margin-top: 10px;
	margin-right: 10px;
}
.creative {
	margin-top: 10px;
	height: 20px;	
}
/*Todo lo que tiene que ver con texto*/
h1{font-size: 300%;padding-top: 10px;padding-bottom: 10px;}
h2{font-size:200%;padding-top: 10px;padding-bottom: 10px;}
p{text-align: left;margin-bottom: 5px;}
p::first-letter{font-size: 110%;text-transform: capitalize;}
pre code {width:550px;text-align: left;font-family: monospace;}
span.negro{font-weight: bolder;}
span.orange{color:orange;text-decoration: underline;}
/*cosas de las tablas*/
table{height:200px;width:100%;margin-bottom: 20px;margin-top: 20px;padding: 0px;}
td {border:1px solid black;text-align: center;}
img.iconoweb{width:65px;height: 50px;}
img.rssimg{width:25px;height:20px;}